.caption {
  width: 300px;
  margin: 0 auto;
  text-transform: uppercase;
  color: brown;
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px;
  background-color: azure;
  margin-bottom: 20px;
}
.text {
  border: 1px solid black;
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: brown;
}
